body {
    background-color: rgb(155, 189, 189);
}
.Fuentes {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.Lineas {
    border-color: black;
}
.FLoat {
    float: right;
}